@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
body{font-family: 'Noto Serif TC', serif;}
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header h1 {
    text-align: center;
    color: #325326;
    font-style: normal;
    font-size: 61px;
    font-weight: bold;
}

nav a:link {
    color: #31AB45;
    text-decoration: none;
    font-size: large;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;

}
nav a:hover {
    color: #A9DBB4;
}

nav {
    text-align: center;
}
.oilIMG {
    height: 300px;
    background-image: url(assets/oilmain.jpg);
    background-position: center center;
    background-size: auto auto;
}
footer a:link {
    color: #5A875D;
    text-decoration: none;
}
article h2  {
    background-color: #99FBA9;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #68380C;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    background-image: -webkit-linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(220,246,194,1.00) 60.73%,rgba(220,246,193,1.00) 60.73%,rgba(166,233,97,1.00) 100%);
    background-image: -moz-linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(220,246,194,1.00) 60.73%,rgba(220,246,193,1.00) 60.73%,rgba(166,233,97,1.00) 100%);
    background-image: -o-linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(220,246,194,1.00) 60.73%,rgba(220,246,193,1.00) 60.73%,rgba(166,233,97,1.00) 100%);
    background-image: linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(220,246,194,1.00) 60.73%,rgba(220,246,193,1.00) 60.73%,rgba(166,233,97,1.00) 100%);
}

footer a:visited {
    color: #436356;
}
